*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
.container{
    max-width: 300px;
    margin: 50px auto;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
}
.in{
    border: 2px solid blue;
    border-radius: 5px;
}
.solution{
    width: 50px;
    height: 50px;
    border: 3px solid rgb(242, 60, 23);
    border-radius: 5px;
}
.solution-block{
    margin: 30px 0px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}